        <section id="content">
            <article class="post">
             <div class="date">
              <span class="day">{{ page.date | date:"%d" }}</span>
              <span class="month">{{ page.date | date:"%b" }}</span>
              <span class="year">{{ page.date | date:"%Y" }}</span>
             </div>
             <div class="busuanzi">
                 <span id="common_text"> viewed: </span>
                 <span id="busuanzi_container_page_pv">
                    <span id="busuanzi_value_page_pv"></span>
                 </span>
                 <span id="common_text">times:</span>
             </div>
             <header>
               <h2><a href="{{ site.url }}{{ page.url }}" title="{{ page.title }}">{{ page.title }}22</a></h2>
             </header>
             <div class="con">{{ content }}</div>
             <div class="prev_and_next">
                {% if page.previous %}
                <div><strong>previous: <a href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a></strong></div>
                {% else %}
                <div><strong>previous: nothing</strong></div>
                {% endif %}
                {% if page.next %}
                <div><strong>next: <a href="{{ site.url }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></strong></div>
                {% else %}
                <div><strong>next: nothing</strong></div>
                {% endif %}
             </div>
             <div class="postunder"><div id="comments">{% include comments.html %}</div></div>
            </article>
        </section>
        <div class="clear"></div>
